
.fonts { font-family: 'Poiret One', cursive;
		font-family: 'Shadows Into Light Two', cursive;
		font-family: 'Coustard', serif;
		font-family: 'Bellefair', serif; }

.jumbotron {background-image: url(../images/artsy-skyline.jpg);
	background-position: center;
	background-size: stretch;
	margin-bottom: -120px;
	padding-bottom: 300px;
}

.lines { 
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	float: left;

 }

 .articleCard { opacity: 0.85;
 	background-color: #eaeaea; 
 	color: black;
 	margin-top: 20px;
 	margin-bottom: 20px;
 }

 a {
 	color: #dc3545;
 }

 .card-header{
 	background-color: #eaeaea;
 }